.roadMapContainer {
  background-image: url("../../Assets/images/Background-sec-8.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  overflow: hidden;
}
.roadmapTitle {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.roadmapRowContainer {
  justify-content: space-between;
  align-items: center;
}
.roadmapRowMobileContainer {
  justify-content: center;
  align-items: center;
}

@media (max-width: 575.98px) {
  .roadmapMobile {
    display: flex;
  }
  .roadmapTablet {
    display: none;
  }
  .roadmapLaptop {
    display: none;
  }
}
/* 
@media (max-width: 991.98px) {
  .roadmapTablet {
    display: flex;
  }
  .roadmapMobile {
    display: none;
  }
  .roadmapLaptop {
    display: none;
  }
}
@media (max-width: 1500px) {
  .roadmapLaptop {
    display: flex;
  }
  .roadmapMobile {
    display: none;
  }
  .roadmapTablet {
    display: none;
  }
} */
.roadmap100CardRow {
  display: flex;
  justify-content: start;
  align-items: center;
}
.roadmapLargeCard {
  width: 350px;
  height: 150px;
  background: #21353b;
  border-radius: 30px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
  margin-top: 80px;
  z-index: 999;
}
.roadmapMobileCard,
.roadmapTabletCard {
  width: 320px;
  height: 150px;
  background: #21353b;
  border-radius: 30px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 999;
  margin-top: 80px;
}
@media (max-width: 698px) {
  .roadmapMobileCard {
    width: 300px;
  }
}
@media (max-width: 648px) {
  .roadmapMobileCard {
    width: 280px;
  }
}
.roadmapCardBadge,
.roadmapCardBadgeLight {
  position: absolute;
  top: -17%;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  left: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 15px;
  z-index: 9999;
}
.roadmapCardBadge {
  background: #21353b;
  box-shadow: 0px 0px 10px rgba(42, 222, 234, 0.5);
  color: #4ffcb3;
}
.roadmapCardBadgeLight {
  color: #000;
  background: #2adeea;
  box-shadow: 0px 0px 10px rgba(42, 222, 234, 0.5);
}
.roadMapCardCol {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.roadMapMobileCardCol {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.roadMapCardColLeft {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.roadMapCardColRight {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
@media (max-width: 1070px) {
  .roadmapLargeCard {
    width: 330px;
  }
}
.colorText {
  color: #2adeea;
}
.dottedLine {
  border-top: 2px double #4ffcb3;
  border-style: dashed;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 430px;
  background: none;
  opacity: 1 !important;
}
@media (min-width: 2650px) {
  .dottedLine {
    width: 630px;
  }
}
@media (max-width: 2650px) {
  .dottedLine {
    width: 625px;
  }
}
@media (max-width: 2600px) {
  .dottedLine {
    width: 620px;
  }
}
@media (max-width: 2530px) {
  .dottedLine {
    width: 618px;
  }
}
@media (max-width: 2470px) {
  .dottedLine {
    width: 595px;
  }
}
@media (max-width: 2430px) {
  .dottedLine {
    width: 590px;
  }
}
@media (max-width: 2330px) {
  .dottedLine {
    width: 575px;
  }
}
@media (max-width: 2240px) {
  .dottedLine {
    width: 560px;
  }
}
@media (max-width: 2140px) {
  .dottedLine {
    width: 540px;
  }
}
@media (max-width: 1700px) {
  .dottedLine {
    width: 415px;
  }
}
@media (max-width: 1600px) {
  .dottedLine {
    width: 415px;
  }
}
@media (max-width: 1395px) {
  .dottedLine {
    width: 415px;
  }
}
@media (max-width: 1250px) {
  .dottedLine {
    width: 380px;
  }
}
@media (max-width: 1110px) {
  .dottedLine {
    width: 360px;
  }
}
.dottedTabletLine {
  border-top: 2px double #4ffcb3;
  border-style: dashed;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 480px;
  background: none;
  opacity: 1 !important;
}
@media (max-width: 950px) {
  .dottedTabletLine {
    width: 460px;
  }
}
@media (max-width: 928px) {
  .dottedTabletLine {
    width: 445px;
  }
}
@media (max-width: 885px) {
  .dottedTabletLine {
    width: 425px;
  }
}
@media (max-width: 840px) {
  .dottedTabletLine {
    width: 400px;
  }
}
@media (max-width: 800px) {
  .dottedTabletLine {
    width: 380px;
  }
}
.verticalRuleLeft,
.verticalRuleRight,
.verticalMobileRule,
.verticalTabletRule {
  position: absolute;
  top: 60px;
  height: 238px;
  background: none;
  z-index: 9;
}
.verticalRuleLeft {
  left: 53%;
}
.verticalRuleRight {
  left: 47%;
}
.verticalTabletRule {
  left: 50%;
}
.verticalMobileRule {
  left: 50%;
}
@media (min-width: 2650px) {
  .verticalRuleRight {
    left: 20%;
  }
  .verticalRuleLeft {
    left: 80%;
  }
}
@media (max-width: 2650px) {
  .verticalRuleRight {
    left: 20%;
  }
  .verticalRuleLeft {
    left: 80%;
  }
}
@media (max-width: 2600px) {
  .verticalRuleRight {
    left: 20%;
  }
  .verticalRuleLeft {
    left: 80%;
  }
}
@media (max-width: 2550px) {
  .verticalRuleRight {
    left: 20%;
  }
  .verticalRuleLeft {
    left: 79%;
  }
}
@media (max-width: 2500px) {
  .verticalRuleRight {
    left: 21%;
  }
  .verticalRuleLeft {
    left: 79%;
  }
}
@media (max-width: 2450px) {
  .verticalRuleRight {
    left: 21%;
  }
  .verticalRuleLeft {
    left: 79%;
  }
}
@media (max-width: 2400px) {
  .verticalRuleRight {
    left: 22%;
  }
  .verticalRuleLeft {
    left: 78%;
  }
}
@media (max-width: 2350px) {
  .verticalRuleRight {
    left: 22%;
  }
  .verticalRuleLeft {
    left: 78%;
  }
}
@media (max-width: 2250px) {
  .verticalRuleRight {
    left: 25%;
  }
  .verticalRuleLeft {
    left: 75%;
  }
}
@media (max-width: 1550px) {
  .verticalRuleRight {
    left: 36%;
  }
  .verticalRuleLeft {
    left: 65%;
  }
}
@media (max-width: 1450px) {
  .verticalRuleRight {
    left: 36%;
  }
  .verticalRuleLeft {
    left: 64%;
  }
}
@media (max-width: 1300px) {
  .verticalRuleRight {
    left: 40%;
  }
  .verticalRuleLeft {
    left: 60%;
  }
}
@media (max-width: 1260px) {
  .verticalRuleRight {
    left: 41%;
  }
  .verticalRuleLeft {
    left: 59%;
  }
}
@media (max-width: 1200px) {
  .verticalRuleRight {
    left: 43%;
  }
  .verticalRuleLeft {
    left: 57%;
  }
}
@media (max-width: 1150px) {
  .verticalRuleRight {
    left: 45%;
  }
  .verticalRuleLeft {
    left: 55%;
  }
}
.dotted100Line {
  border-top: 2px double #4ffcb3;
  border-style: dashed;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 1030px;
  background: none;
  opacity: 1 !important;
}
@media (min-width: 2700px) {
  .dotted100Line {
    width: 1270px;
  }
}
@media (max-width: 2700px) {
  .dotted100Line {
    width: 1250px;
  }
}
@media (max-width: 2650px) {
  .dotted100Line {
    width: 1235px;
  }
}
@media (max-width: 2600px) {
  .dotted100Line {
    width: 1215px;
  }
}
@media (max-width: 2550px) {
  .dotted100Line {
    width: 1190px;
  }
}
@media (max-width: 2500px) {
  .dotted100Line {
    width: 1188px;
  }
}
@media (max-width: 2450px) {
  .dotted100Line {
    width: 1170px;
  }
}
@media (max-width: 2420px) {
  .dotted100Line {
    width: 1160px;
  }
}
@media (max-width: 2380px) {
  .dotted100Line {
    width: 1150px;
  }
}
@media (max-width: 2350px) {
  .dotted100Line {
    width: 1140px;
  }
}
@media (max-width: 2320px) {
  .dotted100Line {
    width: 1120px;
  }
}
@media (max-width: 2280px) {
  .dotted100Line {
    width: 1100px;
  }
}
@media (max-width: 2250px) {
  .dotted100Line {
    width: 1090px;
  }
}
@media (max-width: 2230px) {
  .dotted100Line {
    width: 1080px;
  }
}
@media (max-width: 2180px) {
  .dotted100Line {
    width: 1055px;
  }
}
@media (max-width: 2150px) {
  .dotted100Line {
    width: 1050px;
  }
}
@media (max-width: 2090px) {
  .dotted100Line {
    width: 1030px;
  }
}
@media (max-width: 1700px) {
  .dotted100Line {
    width: 865px;
  }
}
@media (max-width: 1500px) {
  .dotted100Line {
    width: 865px;
  }
}
@media (max-width: 1480px) {
  .dotted100Line {
    width: 855px;
  }
}
@media (max-width: 1447px) {
  .dotted100Line {
    width: 843px;
  }
}
@media (max-width: 1395px) {
  .dotted100Line {
    width: 815px;
  }
}
@media (max-width: 1345px) {
  .dotted100Line {
    width: 785px;
  }
}
@media (max-width: 1250px) {
  .dotted100Line {
    width: 766px;
  }
}
@media (max-width: 1190px) {
  .dotted100Line {
    width: 740px;
  }
}
@media (max-width: 1150px) {
  .dotted100Line {
    width: 735px;
  }
}
@media (max-width: 1120px) {
  .dotted100Line {
    width: 710px;
  }
}
@media (max-width: 1050px) {
  .dotted100Line {
    width: 674px;
  }
}
.lightCard {
  border-style: solid;
  border-width: 2px;
  /* border-image: linear-gradient(180deg, #4ffcb3 0%, #4fb3fc 100%) 1; */
  border-radius: 30px !important;
}
.roadmapCardText {
  font-size: 14px;
}
.roadmapFooter {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  /* identical to box height, or 22px */
  text-align: center;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.h6text {
  text-align: center;
  font-size: 22px;
}
