.carouselContainer {
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 30px;
  background-image: url("../../Assets/images/Background-sec.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel {
  width: 50% !important;
}
@media (max-width: 767px) {
  .carousel {
    width: 100% !important;
  }
}
.carouselHeading,
.carouselPara {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselPara {
  width: 600px;
}
.carouselDescripton {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .carouselDescripton {
    width: 300px;
    flex-direction: column;
  }
  .carouselPara {
    width: 290px;
  }
}
@media (max-width: 480px) {
  .carouselDescripton {
    width: 300px;
    flex-direction: column;
  }
  .carouselPara {
    width: 290px;
  }
}
.carousel-indicators {
  bottom: -30px;
}
.carousel-control-next {
  right: -100px;
  top: -20px;
  display: none;
}
.carousel-control-prev {
  left: -100px;
  top: -20px;
  display: none;
}
@media (max-width: 768px) {
  .carousel-control-next {
    right: -65px;
  }
}
@media (max-width: 768px) {
  .carousel-control-prev {
    left: -65px;
  }
}
@media (max-width: 480px) {
  .carousel-control-next {
    right: -0px;
    margin-bottom: -10px;
  }
}
@media (max-width: 480px) {
  .carousel-control-prev {
    left: -0px;
    margin-bottom: -10px;
  }
}
@media (max-width: 375px) {
  .carousel-control-next {
    right: -0px;
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .carousel-control-prev {
    left: -0px;
    margin-bottom: 30px;
  }
}
.carousel-indicators .active {
  background-color: #4ffcb3;
}
