.FAQContainer {
  overflow: hidden;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #000;
}
.FAQTitle {
  font-weight: 400;
  font-size: 50px;
  color: #fff;
}
.QandA {
  font-size: 30px;
  font-weight: 800;
  margin: 0px 10px;
}
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  background-color: #000 !important;
  /* border: 1px solid #ffffff !important; */
}
.accordion-item:first-of-type .accordion-button.collapsed,
.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  color: #28aa73;
  /* border: 1px solid #ffffff !important; */
}

.accordion-item,
.accordion-header {
  background: #000 !important;
  color: #fff;
  margin-top: 20px;
}
.accordion-button {
  color: #fff !important;
  background: #000 !important;
  /* border: 1px solid #ffffff !important; */
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #ffffff;
  box-shadow: none !important;
  fill: #fff;
}

.accordion-button:not(.collapsed) {
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #fff;
  border-bottom: black;
  color: #28aa73;
  background: #000 !important;
}
.accordion-collapse {
  border-radius: 0px 0px 20px 20px;
  /* border: 1px solid #ffffff !important; */
}
.accordianCardBody {
  background-color: #000;
  color: #fff;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #fff;
  border-top: #000;
  padding: 10px 20px;
}
.FAQaccordion {
  width: 750px;
}
@media (max-width: 575.98px) {
  .FAQaccordion {
    width: 400px;
  }
}
@media (max-width: 420px) {
  .FAQaccordion {
    width: 300px;
  }
}
