.teamContainer {
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #156469;
}
.teamCardsColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.teamTitle {
  font-size: 50px;
  line-height: 100%;
  color: #4ffcb3;
  font-weight: 800;
}
.teamCard {
  width: 220px;
  height: 220px;
  /* margin: 0px 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.cardSubTitle {
  font-size: 20px;
  color: #4ffcb3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardTitle {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamCardImage {
  width: 200px;
  height: 200px;
}
