.navbarMainContainer {
  background: transparent;
  position: absolute;
  z-index: 999;
  background: rgba(24, 26, 43, 0.6);
  overflow: hidden;
}
.navbar {
  padding-top: 0px !important;
}
.nav-link {
  color: #fff !important;
  padding: 0px 7px !important;
}
.nav-item-list li {
  margin: 10px;
}
@media (max-width: 991.98px) {
  .navbar-nav {
    /* background-image: url("../../Assets/background.png") !important; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 50% !important;
    float: left !important;
  }
}
.navbarSocialLinks {
  background-color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
}
.navbarSocialImages {
  background-size: contain;
  width: 13px;
}
.mobileNabarSocial {
  display: flex;
  padding-right: 7.5%;
}
@media (min-width: 2600px) and (max-width: 2650px) {
  .mobileNabarSocial {
    padding-right: 26%;
  }
}
@media (min-width: 2500px) and (max-width: 2599px) {
  .mobileNabarSocial {
    padding-right: 25%;
  }
}
@media (min-width: 2400px) and (max-width: 2499px) {
  .mobileNabarSocial {
    padding-right: 24%;
  }
}
@media (min-width: 2300px) and (max-width: 2399px) {
  .mobileNabarSocial {
    padding-right: 23%;
  }
}
@media (max-width: 991.98px) {
  .mobileNabarSocial {
    display: none !important;
  }
}
/* .navbarContainer {
  margin-right: 10px !important;
} */
@media (max-width: 767.98px) {
  .navbarContainer {
    margin-right: auto !important;
  }
}
.languageChnage {
  color: #fff;
  padding-right: 15px;
}
.navLink,
.languageChnage {
  cursor: pointer;
}
.languageChnage .active {
  border-bottom: 2px solid #fff;
}
