.presales {
  background-image: url("../../Assets/background.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0f131b;
  padding-top: 100px;
}
.container-presales-outside {
  border: 3px solid #2adeea;
  position: relative;
}
.imgArea {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* left: 38%; */
  /* top: -1%; */
}
.presalesTop-image {
  width: 400px;
  height: 50px;
}
@media (max-width: 575.98px) {
  .imgArea {
    padding-top: 30px;
  }
}
@media (min-width: 576px) {
  .imgArea {
    padding-top: 0px;
  }
}
@media (max-width: 575.98px) {
  .presalesTop-image {
    width: 200px;
    height: 30px;
    /* left: 0%; */
  }
}

.imgArea-text {
  z-index: 999;
  position: absolute;
  color: #000;
  font-weight: 900;
  font-size: 28px;
}
.container-presales {
  border: 3px double #2adeea;
  border-style: dashed;
}
.btnAllReward,
.btnStake {
  width: 200px;
  height: 40px;
  font-weight: 800;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
}
.btnStake {
  background: #28aa73;
  border: 1px solid #28aa73;
}
.btnAllReward {
  background: #3bc2cb;
  border: 1px solid #3bc2cb;
}
.balanceMag {
  color: #2adeea;
}
.textMyCrazy {
  font-size: 32px;
  color: #fff;
  font-family: "Bowlby One";
  font-style: normal;
  font-weight: 600;
}
.card-img-top {
  width: 300px;
  height: 300px;
}
.card {
  width: 300px;
  border: none !important;
  border-radius: 10px !important;
}
.card-body {
  background: #21353b;
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}
.card-title {
  color: #4ffcb3;
}
.card-text,
.card-sub-title,
.card-Link {
  color: #fff;
}
.card-Link {
  text-decoration: none;
}
.card-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-buttons button {
  margin-top: 5px;
  width: 260px;
  height: 40px;
  background: #28aa73;
  border-radius: 10px;
  border: 1px solid #28aa73;
  color: #fff;
}
.preslaesAdditionSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-gutter-x: 0px !important;
}
.preslaesAdditionSection {
  background: #000000;
  border: 1px solid #405c65;
  border-radius: 5px;
  height: 50px;
}
@media (max-width: 320px) {
  .preslaesAdditionSection {
    width: 270px;
  }
}

.navItems,
.navItems a {
  height: 70px;
  background: #405c65;
  padding: 2px;
}
.navItems .active {
  background-color: #2adeea !important;
  border: 2px solid #2adeea !important;
}
.presaleCard {
  border-radius: 10px 0px 10px 0px !important;
}
.presaleCard {
  background: #051f28;
}
.presaleCard {
  width: 480px;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 320px) {
  .mintAdditionSection {
    width: 270px;
  }
}
@media (min-width: 576px) {
  .presaleCard {
    width: 480px;
  }
}
.presaleCardHeader {
  color: #fff;
  background: #608a97;
  border-radius: 10px 10px 0px 0px;
}
.presaleCardHeaderh3 {
  font-size: 24px;
  font-weight: 700;
}
.presaleCardSubHeader {
  background: #405c65;
  color: #fff;
  position: relative;
}
.presaleCard2SubHeader {
  background: #405c65;
  color: #fff;
  position: relative;
}
.presaleCardBody {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navTabs {
  width: 33.33%;
  height: 50px;
  background: #405c65 !important;
  border: 1px solid #28aa73;
}
.navTabs .nav-link {
  color: #7d9ea9;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: 1px solid #28aa73;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #28aa73;
}
.tabText {
  color: #000;
  font-size: 20px;
}
.nav-tabs .nav-link.active {
  background: #2adeea !important;
  border: 1px solid #28aa73;
}
.tab1 {
  border-top-left-radius: 10px !important;
}
.tab3 {
  border-top-right-radius: 10px !important;
}
.preSaleCardBody {
  padding: 0px 20px;
}
.progress {
  background: #405c65;
}
.progress-bar {
  background: #4ffcb3;
  border-radius: 5px;
  color: #000;
}
.progressValue {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 10px;
}
.btnMinusPresale {
  padding: 0px 15px;
  font-size: 30px;
}
.btnPlusPresale {
  padding: 0px 30px !important;
  font-size: 30px;
}
.btnMint {
  background: #28aa73;
  border: 1px solid #28aa73;
  border-radius: 10px;
}
.textColor {
  color: #4ffcb3;
}
